#instructions {
  font-size: 28px;
  text-align: center;
}
.button-container {
  text-align: center;
}
.ars-button {
  display: inline-flex;
  justify-content: center;
  background-color: rgb(233, 148, 148);
  font-size: 32px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid black;
  padding: 32px;
  margin: 15px;
}

button {
  width: 100px;
  height: 25px;
}
