.title {
  text-align: center;
}
.chapter-overview {
  text-align: center;
}
#current {
  color: red;
}
.detailed-contents {
  color: blue;
}

.chapter-container h3 {
  margin: 0px;
}

.chapter-container p {
  margin: 0px;
}

.chapter-container div {
  margin-top: 25px;
}
