a {
  color: white;
}
#scroll-button {
  text-align: center;
  background-color: navy;
  text-align: center;
  font-size: medium;

  border-radius: 23px;
  padding: 10px 5px;
  margin: 10px;
  width: 35px;

  position: fixed;
  bottom: 10px;
  right: 10px;
}

.button {
  height: 40px;
  line-height: 40px;
}
