body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  width: 100%;
  text-align: center;
}

#header {
  height: 45px;
  background-color: white;
  margin: 10px;
  padding: 5px 15px;
  box-shadow: 1px 1px 1px 1px rgb(194, 193, 193, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  display: flex;
  align-items: center;
}

#menu {
  display: flex;
  gap: 5px;
}

#hyper-link,
#sort {
  text-decoration: none;
  color: black;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 500;
}

#hyper-link:hover,
#sort:hover {
  cursor: pointer;
}

#feed-container {
  background-color: white;
  border-top: 1px solid rgb(194, 193, 193, 0.4);
  border-left: 1px solid rgb(194, 193, 193, 0.4);
  border-right: 1px solid rgb(194, 193, 193, 0.4);
  width: 550px;
  display: inline-block;
}

#posts {
  align-content: center;
}

.container {
  overflow: hidden;
  padding: 10px 15px;
  border-bottom: 1px solid rgb(194, 193, 193, 0.4);
}

.user-profile-container {
  display: flex;
  gap: 10px;
  margin: 5px;
  align-items: center;
}

.likes-container {
  display: flex;
  gap: 10px;
  margin: 5px;
  align-items: center;
  line-height: 0px;
}

.user-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #dbdbdb;
}

.user-name,
.likes {
  font-weight: bold;
}

.likes-img {
  width: 25px;
  height: 25px;
}

.image-container {
  height: 400px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  margin: 5px;
  text-align: justify;
}
